@import "tailwindcss";
@plugin "tailwindcss-motion";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background1: #f2e5b8;
  --color-background2: #ecc1c7;
  --color-background3: #d1537d;
  --color-select: #eb7994;

  --color-backgroundDark1: #0d0014;  
  --color-backgroundDark2: #2a0040;  
  --color-backgroundDark3: #6a0dad; 

}