@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --color-background1: #f2e5b8;
  --color-background2: #ecc1c7;
  --color-background3: #d1537d;
  --color-select: #eb7994;
}

.swiper-button-prev, .swiper-button-next {
    --swiper-theme-color: #ffffff;
}
